{{/* Function to return a formatted address given a semantic address. */}}

{{/* Check for valid site config. */}}
{{ $email := .email }}
{{ $height := .height | default 300 }}
{{ $width := .width | default 270 }}
{{ $avatar_type := site.Params.features.avatar.type | default 404 }}

<!--  -->
{{ $url := printf "https://cravatar.cn/avatar/%s?s=%d&d=%s" (md5 $email) $height $avatar_type }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $avatar := . }}
    {{ $avatar_image := $avatar.Fill (printf "%dx%d Top" $width $height) }}
    {{ $url = $avatar_image.RelPermalink }}
  {{ end }}
{{ else }}
  {{ errorf "无法获取远程资源 %q" $url }}
  {{ $url := printf "https://cravatar.cn/avatar/%s?s=%d&d=%s" (md5 $email) $height $avatar_type }}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else }}
      {{ $avatar := . }}
      {{ $avatar_image := $avatar.Fill (printf "%dx%d Top" $width $height) }}
      {{ $url = $avatar_image.RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $url }}